{% set PRODUCTS = [Standard, Advanced] %}

<!-- Comparison Table -->
<div class="relative mb-10 max-lg:gap-6">
  <!-- Header -->
  <!-- TODO check lg:sticky -->
  <div class="start-0 top-0 lg:block">
    <!-- Row -->
    <div class="features-table-row">
      <div class="hidden lg:block">&nbsp;</div>
      <!-- End Col -->

      {%
        for item in [
        {
        product: "Standard",
        integration: "Standalone integration",
        text: "Ideal for short term integration and useful for quickly bringing an use case with payment functions live. Involves one separate integration per system."
        },
        {
        product: "Advanced",
        integration: "Integration with orchestration layer",
        text: "Ideal for a seamless customer experience across different systems. Involves a single unified integration for multiple connected systems."
        }
        ]
      %}
        <div class="{% if loop.last %}lg:rounded-tr-lg lg:bg-[#EDEEF4] max-lg:border-l-2{% else %}{% endif %} px-3">
          <div
            class="{% if loop.last %}custom-gradient-secondary{% else %}custom-gradient-primary{% endif %} relative rounded-xl py-3 lg:-top-8 lg:px-2 lg:text-white"
          >
            <div
              class="{% if loop.last %}border-green-800{% else %}border-primary{% endif %} text-center font-mono text-xl font-bold max-lg:border-b-2 max-lg:uppercase"
            >
              {{ item.product }} <span class="hidden lg:inline">Product</span>
            </div>
            <p class="mt-2 text-balance text-sm max-lg:font-bold lg:text-center">{{ item.integration }}</p>
          </div>
          <p
            class="{% if loop.last %}lg:border-white{% else %}{% endif %} text-sm leading-tight text-neutral-700 lg:-mt-5 lg:border-b lg:pb-5 lg:text-center"
          >
            {{ item.text }}
          </p>
        </div>
      {% endfor %}
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Header -->

  {%
    for item in [
    {
    title: "Payment Processing",
    text: "Integration of payment page into UI.",
    icon: "layers",
    data: [
    "y", "y"
    ]
    },
    {
    title: "Back-End Systems Connection",
    text: "Connection between your backend and our payment infrastructure through our APIs.",
    icon: "storage",
    data: [
    "y", "y"
    ]

    },
    {
    title: "Customer Wallet",
    text: "",
    icon: "wallet",
    data: [
    "Offer a standard wallet function for secure payment storage within a single system",
    "Offer one single Toyota PaymentID and Toyota CustomerWallet that can be used for purchases of Toyota products and services across systems"
    ]
    },
    {
    title: "Subscription Model",
    text: "",
    icon: "arr-circle",
    data: [
    "x", "Subscription model for <b>recurring payments</b>"
    ]
    },
    {
    title: "Billing & Invoicing",
    text: "",
    icon: "doc",
    data: [
    "x", "Collection of <b>billing information, generation</b>, and <b>billing schedule management</b>"
    ]
    },
    {
    title: "Tax Calculation",
    text: "",
    icon: "circle-diagram",
    data: [
    "x", "Based on <b>specific product</b> or <b>service taxability</b> rules"
    ]
    },
    {
    title: "Analytics & Reporting",
    text: "",
    icon: "diagram",
    data: [
    "Admin to merchant panel (Admin UI)", "Customer <b>purchasing behaviour analysis</b> across all connected E-commerce systems"
    ]

    },
    {
    title: "Pricing",
    text: "",
    icon: "diagram",
    data: [
    '
    <div class="flex flex-col">
      <div class="text-xl text-primary font-bold font-mono">1% + 0,10€</div><div class="text-[#656565] text-sm font-medium mb-4">Price per transaction*</div><div class="text-xs">For all standard Visa and Mastercard transactions (Credit or Debit Cards).</div>
      <div class="text-xs border-t pt-2 mt-2">More details about the pricing <br> can be found <a class="underline text-primary" href="#">here</a> </div>
    </div>
    ',
    '
    <div class="flex flex-col">
      <div class="text-xl text-primary font-bold font-mono">2,5% + 0,10€</div><div class="text-[#656565] text-sm font-medium mb-4">Price per transaction*</div><div class="text-xs">For all standard Visa and Mastercard transactions (Credit or Debit Cards).</div>
      <div class="text-xs border-t pt-2 mt-2">More details about the pricing <br> can be found <a class="underline text-primary" href="#">here</a> </div>
    </div>
    '
    ]

    }

    ]
  %}
    <!-- Section -->
    <div class="space-y-4 lg:space-y-0">
      <!-- List -->
      <ul class="features-table-row rounded-xl max-lg:bg-[#EDEEF4] max-lg:pb-4">
        <!-- Item -->
        <li class="{% if sloop.last %}{% else %}border-b{% endif %} flex border-gray-300 pb-1.5 max-lg:p-5 lg:py-5">
          <svg class="fill-primary me-2 mt-1 flex-none" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#icon-simple-{{ item.icon }}"></use>
          </svg>
          <div class="">
            <span class="text-primary font-mono font-bold">{{ item.title }}</span>
            <p class="text-sm text-gray-800">{{ item.text }}</p>
            <a href="#" class="btn btn-xs btn-secondary mt-2">
              LEARN MORE
              <svg class="fill-primary ms-2" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="#icon-arr"></use>
              </svg>
            </a>
          </div>
        </li>
        <!-- End Item -->

        {% for field in item.data %}
          <!-- Item -->
          <li class="{% if loop.last %}lg:bg-[#EDEEF4] lg:border-white lg:rounded-br-lg{% else %}{% endif %} lg:px-8">
            <div
              class="{% if loop.last %}lg:border-white{% else %}{% endif %} flex h-full lg:items-center lg:justify-center lg:border-b lg:py-4"
            >
              <span
                class="{% if loop.last %}border-green-800{% else %}border-primary{% endif %} mb-4 border-b pb-4 text-center uppercase text-neutral-700 lg:hidden"
              >
                {{ PRODUCTS[loop.index - 1] }}
              </span>
              <span class="text-center text-sm text-neutral-700">
                {% if field === "y" %}
                  <svg class="fill-primary ms-2" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="#icon-mark"></use>
                  </svg>
                  {% elseif field === "x" %}
                  <svg class="fill-primary ms-2" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="#icon-close"></use>
                  </svg>
                {% else %}
                  {{ field | safe }}
                {% endif %}
              </span>
            </div>
          </li>
          <!-- End Item -->
        {% endfor %}
      </ul>
      <!-- End List -->
    </div>
    <!-- End Section -->
  {% endfor %}
  <div class="mt-4 flex justify-end text-xs text-[#656565]">
    <div class="max-w-[600px] text-center">
      *Additional payment methods (e.g. PayPal, ApplePay, GooglePay, SEPA, local payment methods) are available on
      request.
    </div>
  </div>
</div>
<!-- End Comparison Table -->
