<!-- Comparison Table -->
<div class="relative">
  <div class="mx-auto grid max-w-[85rem] px-4 py-10 max-lg:gap-6">
    <!-- Header -->
    <div class="start-0 top-0 bg-white/60 backdrop-blur-md lg:sticky lg:block">
      <!-- Grid -->
      <div class="features-table-row grid grid-cols-2 lg:grid-cols-3">
        <div class="hidden lg:block">&nbsp;</div>
        <!-- End Col -->

        {%
          for item in [
            {
              product: "Standard",
              integration: "Standalone integration",
              text: "Ideal for short term integration and useful for quickly bringing an use case with payment functions live. Involves one separate integration per system."
            },
            {
              product: "Advanced",
              integration: "Integration with orchestration layer",
              text: "Ideal for a seamless customer experience across different systems. Involves a single unified integration for multiple connected systems."
            }
          ]
        %}
          <div class="{% if loop.last %}lg:rounded-tr-lg lg:bg-[#EDEEF4] border-l-2{% else %}{% endif %} px-8">
            <div
              class="lg:gradient-{% if loop.last %}primary{% else %}secondary{% endif %} relative rounded-2xl py-6 lg:-top-4 lg:mb-4 lg:px-2 lg:text-white"
            >
              <div
                class="border-{% if loop.last %}green-800{% else %}primary{% endif %} text-center text-lg font-bold max-lg:border-b-2 max-lg:uppercase"
              >
                {{ item.product }} <span class="hidden lg:inline">Product</span>
              </div>
              <p class="mt-2 text-sm max-lg:font-bold lg:text-center">{{ item.integration }}</p>
            </div>
            <p class="text-sm text-neutral-700 lg:text-center">{{ item.text }}</p>
          </div>
        {% endfor %}
        <!-- End Col -->
      </div>
      <!-- End Grid -->
    </div>
    <!-- End Header -->

    {%
      for item in [
        {
          title: "Payment Processing",
          text: "Integration of payment page into UI.",
          icon: "layers"
        },
        {
          title: "Back-End Systems Connection",
          text: "Connection between your backend and our payment infrastructure through our APIs.",
          icon: "storage"
        },
        {
          title: "Customer Wallet",
          text: "",
          icon: "wallet"
        },
        {
          title: "Subscription Model",
          text: "",
          icon: "arr-circle"
        },
        {
          title: "Billing & Invoicing",
          text: "",
          icon: "doc"
        },
        {
          title: "Tax Calculation",
          text: "",
          icon: "circle-diagram"
        },
        {
          title: "Analytics & Reporting",
          text: "",
          icon: "diagram"
        }
      ]
    %}
      <!-- Section -->
      <div class="space-y-4 lg:space-y-0">
        <!-- List -->
        <ul
          class="features-table-row grid grid-cols-2 rounded-xl max-lg:gap-4 max-lg:bg-[#EDEEF4] max-lg:pb-4 lg:grid-cols-3"
        >
          <!-- Item -->
          <li class="flex border-gray-300 pb-1.5 max-lg:col-span-2 max-lg:border-b max-lg:p-5 lg:py-3">
            <svg class="fill-primary me-4 mt-1 flex-none" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="#icon-simple-layers"></use>
            </svg>
            <div class="">
              <span class="text-primary font-bold">Payment Processing</span>
              <p class="text-sm text-gray-800">Integration of payment page into UI.</p>
              <a href="#" class="btn btn-sm btn-secondary mt-2">
                Learn more
                <svg class="fill-primary ms-2" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#icon-arr"></use>
                </svg>
              </a>
            </div>
          </li>
          <!-- End Item -->

          {%
            for item in [

                {product: "Standard"},
                {product: "Advanced"}
            ]
          %}
            <!-- Item -->
            <li class="{% if loop.last %}lg:bg-[#EDEEF4]{% else %}{% endif %} py-1.5 lg:px-8 lg:py-3">
              <div
                class="{% if loop.last %}lg:border-white{% else %}{% endif %} grid h-full lg:place-content-center lg:border-b"
              >
                <span
                  class="border-{% if loop.last %}green-800{% else %}primary{% endif %} mb-4 border-b pb-4 text-center uppercase text-neutral-700 md:col-span-2 lg:hidden"
                >
                  {{ item.product }}
                </span>
                <span class="text-center text-sm text-neutral-700"> Up to 10 </span>
              </div>
            </li>
            <!-- End Item -->
          {% endfor %}
        </ul>
        <!-- End List -->
      </div>
      <!-- End Section -->
    {% endfor %}
  </div>
</div>
<!-- End Comparison Table -->
