<footer class="bg-neutral-700">
  <div class="container flex flex-col py-12 lg:flex-row lg:py-24">
    <div class="lg:flex">
      <div class="mb-12 lg:mr-20">
        <img
          width="180"
          class="mx-auto block"
          src="/img/award-2022.png"
          alt=""
        />
      </div>
      {% include "src/html/footer-nav.html" %}
    </div>
    <div class="lg:-order-1 lg:mr-16 xl:mr-32">
      <div class="grid grid-cols-2 lg:block">
        <img class="mb-12 block" src="/img/logo-white.png" alt="" />
        <img
          class="mb-12 block"
          src="/img/catalogo-universita-white.png"
          alt=""
        />
      </div>
      {% include "src/html/socials.html" %}
    </div>
  </div>
</footer>
