<section class="mb-20">
  <div class="container grid py-8 lg:grid-cols-12 lg:gap-8 lg:py-16 xl:gap-0">
    <div class="mr-auto place-self-center lg:col-span-7">
      <div class="mb-5">
        <h1 class="mb-4 max-w-2xl font-light"><strong class="font-bold">TFS In-house</strong> Payment solution</h1>
        <p class="text-gray-primary mb-6 max-w-2xl font-light md:text-lg lg:mb-8 lg:text-xl">
          Integrated online payment <br />
          solution for your business.
        </p>
        <a href="#" class="btn btn-primary">
          CONTACT US
          <svg class="ms-2" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#icon-arr"></use>
          </svg>
        </a>
      </div>
      <div class="flex gap-4">
        <span class="text-gray-primary">Frequently used payment methods:</span>
        <div class="flex gap-2">
          {% for item in ["amex", "apple-pay", "g-pay", "mastercard", "paypal", "visa"] %}
            <svg width="60" height="38" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="#icon-payments-{{ item }}"></use>
            </svg>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="lg:col-span-5 lg:mt-0">
      <img src="/img/hero-img.png" alt="mockup" />
    </div>
  </div>
  <div class="container -mt-20 pb-10">
    <hr class="border-primary mb-10 max-w-[700px] opacity-20" />
    <!--    0D2285-->
    <div class="grid grid-cols-4 gap-6">
      {% for item in ["Safe, reliable and easy to use", "Control & ownership of customer data", "Easy API-based setup & onboarding", "Secure & compliant"] %}
        <div class="text-primary flex items-center gap-6">
          <svg class="flex size-[95px] flex-none items-center" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#icon-features-{{ loop.index }}"></use>
          </svg>
          <span> {{ item }} </span>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
