<section class="mb-20">
  <div class="container grid py-8 lg:grid-cols-12 lg:gap-8 lg:py-8 xl:gap-0">
    <div class="mr-auto place-self-center lg:col-span-8">
      <div class="mb-20">
        <h1 class="mb-4 max-w-2xl font-light"><strong class="font-bold">TFS In-house</strong> Payment&nbsp;solution</h1>
        <p class="text-gray-primary mb-6 max-w-2xl font-mono font-light md:text-lg lg:mb-8 lg:text-xl">
          Integrated online payment <br />
          solution for your business.
        </p>
        <a href="#" class="btn btn-primary pr-3">
          CONTACT US
          <svg class="ms-5 flex-none fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#icon-arr"></use>
          </svg>
        </a>
      </div>
      <div class="flex items-center gap-10">
        <span class="text-gray-primary font-medium leading-4"
          >Frequently used <br />
          payment methods:</span
        >
        <div class="flex gap-2">
          {% for item in ["amex", "apple-pay", "g-pay", "mastercard", "paypal", "visa"] %}
            <svg width="60" height="38" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="#icon-payments-{{ item }}"></use>
            </svg>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="lg:col-span-4 lg:mt-0">
      <img width="407" height="531" src="/img/hero-img.png" alt="mockup" />
    </div>
  </div>
  <div class="container -mt-7 pb-10">
    <hr class="border-primary mb-10 max-w-[820px] opacity-20" />
    <!--    0D2285-->
    <div class="flex gap-1 pl-8">
      {% for item in ["Safe, reliable <br> and easy to use", "Control & ownership <br> of customer data", "Easy API-based setup & onboarding", "Secure &<br> compliant"] %}
        <div class="text-primary flex flex-1 items-center gap-5 font-medium leading-4 last:pl-12">
          <img height="68" class="h-[68px] flex-none" src="/img/features/{{ loop.index }}.png" alt="icon" />
          <span> {{ item | safe }} </span>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
