{% extends "src/html/layout.html" %}
{% block content %}
  <div class="bg-[url('/img/bg/hero-section.jpg')] bg-cover">
    {% include "src/html/header.html" %}
    {% include "src/html/hero.html" %}
  </div>
  {% include "src/html/how-it-works.html" %}
  {% include "src/html/features.html" %}

  <div
    class="relative after:pointer-events-none after:absolute after:inset-0 after:size-full after:bg-[url('/img/bg/decor-elements.png')] after:bg-[length:100%_100%] after:content-['']"
  >
    {% include "src/html/mockups.html" %}
    {% include "src/html/how-to-start.html" %}
  </div>
  {% include "src/html/get-in-touch.html" %}
  {% include "src/html/faq.html" %}
{% endblock %}
