{% extends "src/html/layout.html" %}
{% block content %}
  <div
    class="overflow-hidden bg-[url('/img/bg/hero-bg2-mobile.jpg')] bg-[length:1575px_688px] bg-no-repeat lg:bg-[url('/img/bg/hero-bg.jpg')] lg:bg-[length:100%_auto]"
  >
    {% include "src/html/header.html" %}
    {% include "src/html/hero.html" %}
  </div>
  {% include "src/html/how-it-works.html" %}
  {% include "src/html/features.html" %}

  <div class="relative overflow-hidden">
    <div class="container pointer-events-none absolute inset-0 mx-auto h-full">
      <div style="background: url('/img/bg/mockups-shape.svg') 0 95px no-repeat" class="h-full w-[10000px]"></div>
    </div>
    {% include "src/html/mockups.html" %}
    {% include "src/html/how-to-start.html" %}
  </div>
  {% include "src/html/get-in-touch.html" %}
  {% include "src/html/faq.html" %}
{% endblock %}
