@tailwind base
@tailwind components
@tailwind utilities

@layer base
  body
    font-family: "Space Grotesk", sans-serif
    font-optical-sizing: auto
    font-weight: 400
    font-style: normal
    @apply bg-[url('/img/bg/hero-bg2-mobile.jpg')] bg-[length:1575px_688px] bg-no-repeat lg:bg-[url('/img/bg/hero-bg.jpg')] lg:bg-[length:100%_auto]
    &.page > .main
      @apply pb-10


  .h1, .h2, .h3, .h4, .h5, .h6
    @apply text-primary
  .h1, .h2
    @apply text-[2.5rem] leading-[2.625rem]
  .h1
    @apply lg:leading-[5rem] lg:text-[5rem]
  .h2
    @apply lg:text-[4.125rem] lg:leading-[4.125rem]
  .h3
    @apply text-[1.375rem] leading-7 md:text-[2.25rem] md:leading-normal lg:text-[3.25rem] lg:leading-[3.25rem]
  .h4
    @apply text-[1.32rem] leading-7 md:text-[2.2rem] md:leading-normal lg:text-[3rem] lg:leading-[3rem]

  .page
    //@apply bg-[url('/img/bg/page-bg.jpg')] bg-[length:100%_auto] bg-no-repeat

@layer components
  .container
    @apply max-xs:px-3
  .btn
    @apply lg:text-xl transition ease-in-out inline-flex items-center rounded-full px-5 py-[0.6rem] text-center font-bold font-mono
    .icon
      @apply max-lg:scale-90
  .btn-primary
    @apply text-white hover:bg-green-800
    background: linear-gradient(291deg, #3C3 -18.14%, #309F52 93.59%)
    &:hover
      background: linear-gradient(291deg, #309F52 -18.14%, #3C3 93.59%)
  .btn-secondary
    @apply border-2 border-primary text-primary
  .btn-sm
    @apply py-[0.3rem] px-4 text-base
  .btn-xs
    @apply py-[0.1rem] px-3 text-base border

  .mockup-circle
    @apply flex gap-4 text-xs uppercase font-bold tracking-widest flex-col items-center justify-center rounded-full text-center text-white

  .accordion-content
    @apply overflow-hidden transition-[height] duration-300 [&:not(.active)]:h-0
  .border-color
    border-color: rgba(39, 61, 166, 0.20)

  .features-header-table-row, .features-table-row
    @apply flex
    & > *
      //@apply w-[calc(100%/3)] flex-none
      @apply flex-1
    & > :first-child
      @apply w-[40%] mr-4 flex-none
    & > :nth-child(2)
      @apply lg:bg-white
      & > *
        @apply lg:border-b border-[#E1E5EF]
    & > :nth-child(3)
      @apply lg:bg-[#EDEEF4]
      & > *
        @apply lg:border-b lg:border-white
  .features-header-table-row
    & > :nth-child(2)
      & > :first-child
        @apply lg:custom-gradient-primary
        & > :first-child
          @apply max-lg:border-primary
    & > :nth-child(3)
      @apply lg:rounded-tr-xl
      @apply before before:-left-[1px] before:top-[3rem] before:bottom-6 before:border-l-2 before:border-[#EDEEF4]
      & > :first-child
        @apply lg:custom-gradient-secondary
        & > :first-child
          @apply max-lg:border-secondary

  .features-table-row
    @apply max-lg:rounded-xl overflow-hidden max-lg:bg-[#EDEEF4] max-lg:mb-4 max-lg:flex-wrap max-lg:border-2 border-[#EDEEF4]
    & > :nth-child(1)
      @apply max-lg:w-full border-b border-gray-300
    & > :nth-child(2)
      .features-table-mobile-title
        @apply border-primary mr-2
    &:last-of-type > :first-child
      @apply lg:opacity-0

    & > :nth-child(3)
      @apply before before:top-[3rem] before:bottom-2 before:border-l before:border-[#EDEEF4]
      .features-table-mobile-title
        @apply border-secondary ml-2
        & + * svg
          @apply fill-secondary
    &:last-of-type
      & > * > *
        @apply border-0
      & > :last-child
        @apply lg:rounded-br-xl
      & > :nth-child(2)
        @apply lg:rounded-bl-xl

  .features-table-mobile-title
    @apply font-mono border-b-2 py-1.5 text-center uppercase text-sm text-neutral-700 lg:hidden

  .card-bg-before
    @apply relative before
    &::before
      @apply inset-0 bg-[url('/img/bg/card-bg.svg')] bg-cover bg-no-repeat rounded-xl

  .circles
    @apply inline-block w-[16px] h-[12px] before after
    &::before,
    &::after
      @apply size-[12px] block rounded-full left-0 top-0
    &::before
      @apply hidden custom-gradient-secondary
    &::after
      @apply hidden custom-gradient-primary
    &.is-advanced::before
      @apply block
    &.is-advanced::after
      @apply left-[4px]
    &.is-standard::after
      @apply block
    &.is-inverted::after
      @apply -z-10
    &.is-lg
      @apply w-[26px] h-[18px]
      &::before,
      &::after
        @apply size-[18px]
      &.is-advanced::after
        @apply left-[8px]
    &.is-md
      @apply h-[16px]
      &::before,
      &::after
        @apply size-[18px]




@layer utilities
  .custom-gradient-primary
    background: linear-gradient(328deg, #0D2285 4.53%, #2B47CA 98.06%)
  .custom-gradient-secondary
    background: linear-gradient(292deg, #33CC33 6.81%, #309F52 92.38%)
  .before
    @apply relative before:absolute before:block before:content-['']
  .after
    @apply relative after:absolute after:block after:content-['']
  .before-center
    @apply before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2
  .flex-item
    flex: 0 0 calc((100% - (var(--gap) * (var(--items-per-row) - 1))) / var(--items-per-row))
    @media only screen and (width >= 768px)
      --items-per-row: var(--md_items-per-row)
