{% set bodyClass = 'home' %}
{% extends 'layouts/main.njk' %}
{% block content %}
  <div class="overflow-hidden">
    {% include "./components/header.njk" %}
    {% include "./components/hero.njk" %}
  </div>
  <div data-aos="fade-up" data-aos-duration="800">
    {% include "./components/how-it-works.njk" %}
  </div>
  <div class="overflow-hidden">
    <div >
      <div id="features">
        {% include "./components/features.njk" %}</div>
      </div>
    <div class="relative">
      <div class="container pointer-events-none absolute inset-0 translate-y-[-100px] hidden h-full lg:block">
        <div class="parallax-me h-full bg-[url('/img/bg/mockups-shape.svg')] bg-[0_0] bg-no-repeat lg:w-[10000px]"></div>
      </div>
      {% include "./components/mockups.njk" %}
      <div id="how-to-start">{% include "./components/how-to-start.njk" %}</div>
    </div>
    {% include "./components/get-in-touch.njk" %}
  </div>
  {% include "./components/faq.njk" %}
{% endblock %}
