{% extends 'layouts/main.njk' %}
{% block content %}
  <div class="container h-screen py-20">
    <button class="btn btn-primary" data-modal-toggle="modal-contact">Open contact modal</button>
    <button class="btn btn-primary" data-modal-toggle="modal-thanks">Open thank you modal</button>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      let el = document.querySelector(location.hash);
      if (el) {
        el.openModal();
      }
    });
  </script>
{% endblock %}
