{% extends 'layouts/main.njk' %}
{% block content %}
  <div class="mb-20">{% include "./components/header.njk" %}</div>
  <div class="container">
    {{ titles.title("Privacy Policy", "mb-10", "h1") }}
    <div class="flex flex-col lg:flex-row gap-10">

      <div class="w-[360px] mx-auto flex-none lg:order-1">

        <div class="sticky top-[140px]">
          <div class=" relative p-8 font-light text-white">
            <span class=" rounded-2xl absolute inset-0 custom-gradient-primary pt-24"></span>
            <div class="relative">
              <h5 class="mb-3 font-mono text-xl font-bold text-white">Table of contents</h5>
              <ul class="flex flex-col divide-y divide-white/30 font-mono [&_a:hover]:text-secondary" id="jumpToNav">
                <li class="py-3">
                  <a class="flex" href="/#datenschutz-auf-einen-blick" data-scroll>
                    <span class="me-1">1.</span> Datenschutz auf einen Blick
                  </a>
                </li>
                <li class="py-3">
                  <a class="flex" href="/#allgemeine-hinweise" data-scroll>
                    <span class="me-1">2.</span> Allgemeine Hinweise und Pflichtinformationen
                  </a>
                </li>
                <li class="py-3">
                  <a class="flex" href="/#datenerfassung-auf-unserer-website" data-scroll>
                    <span class="me-1">3.</span> Datenerfassung auf unserer Website
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <div class="flex-1">
        <div id="datenschutz-auf-einen-blick" class="rounded-2xl bg-[#f8f8f8] p-10 mb-10">
          <div class="">
            <h2 class="text-2xl mb-2 pb-1 font-mono font-bold text-primary">1. Datenschutz auf einen Blick</h2>
            <h6 class="text-lg font-bold mt-1 mb-1">Allgemeine Hinweise</h6>
            <p class="pb-2">
              Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert, wenn Sie unsere Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können. Ausführliche Informationen zum Thema Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten Datenschutzerklärung.
            </p>
            <h6 class="text-lg font-bold mt-1 mb-1">Datenerfassung auf unserer Website</h6>
            <p class="pb-2">
              Wer ist verantwortlich für die Datenerfassung auf dieser Website? <br>
              Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten können Sie dem Impressum dieser Website entnehmen.
            </p>
            <h6 class="text-lg font-bold mt-1 mb-1">Wie erfassen wir Ihre Daten?</h6>
            <p class="pb-2">
              Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich z.B. um Daten handeln, die Sie in ein Kontaktformular eingeben. Andere Daten werden automatisch beim Besuch der Website durch unsere IT-Systeme erfasst. Das sind vor allem technische Daten (z.B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, sobald Sie unsere Website betreten.
            </p>
            <h6 class="text-lg font-bold mt-1 mb-1">Wofür nutzen wir Ihre Daten?</h6>
            <p class="pb-2">
              Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten. Andere Daten können zur Analyse Ihres Nutzerverhaltens verwendet werden.
            </p>
            <h6 class="text-lg font-bold mt-1 mb-1">Welche Rechte haben Sie bezüglich Ihrer Daten?</h6>
            <p class="pb-2">
              Sie haben jederzeit das Recht unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer gespeicherten personenbezogenen Daten zu erhalten. Sie haben außerdem ein Recht, die Berichtigung, Sperrung oder Löschung dieser Daten zu verlangen. Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden. Des Weiteren steht Ihnen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.
            </p>
            <h6 class="text-lg font-bold mt-1 mb-1">Analyse-Tools und Tools von Drittanbietern</h6>
            <p class="mb-0">
              Beim Besuch unserer Website kann Ihr Surf-Verhalten statistisch ausgewertet werden. Das geschieht vor allem mit Cookies und mit sogenannten Analyseprogrammen. Die Analyse Ihres Surf-Verhaltens erfolgt in der Regel anonym; das Surf-Verhalten kann nicht zu Ihnen zurückverfolgt werden. Sie können dieser Analyse widersprechen oder sie durch die Nichtbenutzung bestimmter Tools verhindern. Detaillierte Informationen dazu finden Sie in der folgenden Datenschutzerklärung. Sie können dieser Analyse widersprechen. Über die Widerspruchsmöglichkeiten werden wir Sie in dieser Datenschutzerklärung informieren.
            </p>
          </div>
        </div>

        <div id="allgemeine-hinweise" class="rounded-2xl bg-[#f8f8f8] p-10 mb-10">
          <div class="">
            <h2 class="text-2xl mb-2 pb-1 font-mono font-bold text-primary">2. Allgemeine Hinweise und Pflichtinformationen</h2>
            <h6 class="text-lg font-bold mt-1 mb-1">Datenschutz</h6>
            <p class="pb-2">
              Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
            </p>
            <p class="pb-2">
              Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten erhoben. Personenbezogene Daten sind Daten, mit denen Sie persönlich identifiziert werden können. Die vorliegende Datenschutzerklärung erläutert, welche Daten wir erheben und wofür wir sie nutzen. Sie erläutert auch, wie und zu welchem Zweck das geschieht.
            </p>
            <p class="pb-2">
              Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
            </p>
            <p class="pb-2">
              Hinweis zur verantwortlichen Stelle
              <br> <b>Pay-D GmbH</b>
              <br> Kevin Rappen
              <br> Karlstr. 129
              <br> 40210 Düsseldorf
            </p>
            <p class="pb-2">
              Telefon: +49 211 / 15202986
              <br> E-Mail: info@pay-d.eu
            </p>
            <p class="pb-2">
              Verantwortliche Stelle ist die natürliche oder juristische Person, die allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z. B. Namen, E-Mail-Adressen o. Ä.) entscheidet.
            </p>
            <h6 class="text-lg font-bold mt-1 mb-1">Widerruf Ihrer Einwilligung zur Datenverarbeitung</h6>
            <p class="pb-2">
              Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen Einwilligung möglich. Sie können eine bereits erteilte Einwilligung jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an uns. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.
            </p>
            <h6 class="text-lg font-bold mt-1 mb-1">Beschwerderecht bei der zuständigen Aufsichtsbehörde</h6>
            <p class="pb-2">
              Im Falle datenschutzrechtlicher Verstöße steht dem Betroffenen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu. Zuständige Aufsichtsbehörde in datenschutzrechtlichen Fragen ist der Landesdatenschutzbeauftragte des Bundeslandes, in dem unser Unternehmen seinen Sitz hat. Eine Liste der Datenschutzbeauftragten sowie deren Kontaktdaten können folgendem Link entnommen werden: https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html.
            </p>
            <h6 class="text-lg font-bold mt-1 mb-1">Recht auf Datenübertragbarkeit</h6>
            <p class="pb-2">
              Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erfüllung eines Vertrags automatisiert verarbeiten, an sich oder an einen Dritten in einem gängigen, maschinenlesbaren Format aushändigen zu lassen. Sofern Sie die direkte Übertragung der Daten an einen anderen Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar ist.
            </p>
            <h6 class="text-lg font-bold mt-1 mb-1">SSL- bzw. TLS-Verschlüsselung</h6>
            <p class="pb-2">
              Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel Bestellungen oder Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-bzw. TLS-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von “http://” auf “https://” wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.
            </p>
            <p class="pb-2">
              Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.
            </p>
            <h6 class="text-lg font-bold mt-1 mb-1">Verschlüsselter Zahlungsverkehr auf dieser Website</h6>
            <p class="pb-2">
              Besteht nach dem Abschluss eines kostenpflichtigen Vertrags eine Verpflichtung, uns Ihre Zahlungsdaten (z.B. Kontonummer bei Einzugsermächtigung) zu übermitteln, werden diese Daten zur Zahlungsabwicklung benötigt.
            </p>
            <p class="pb-2">
              Der Zahlungsverkehr über die gängigen Zahlungsmittel (Visa/MasterCard, Lastschriftverfahren) erfolgt ausschließlich über eine verschlüsselte SSL- bzw. TLS-Verbindung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von „http://“ auf „https://“ wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.
            </p>
            <p class="pb-2">
              Bei verschlüsselter Kommunikation können Ihre Zahlungsdaten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.
            </p>
            <h6 class="text-lg font-bold mt-1 mb-1">Auskunft, Sperrung, Löschung</h6>
            <p class="pb-2">
              Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.
            </p>
            <h6 class="text-lg font-bold mt-1 mb-1">Widerspruch gegen Werbe-Mails</h6>
            <p class="mb-0">
              Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-E-Mails, vor.
            </p>
          </div>
        </div>

        <div id="datenerfassung-auf-unserer-website" class="rounded-2xl bg-[#f8f8f8] p-10 mb-10">
          <div class="">
            <h2 class="text-2xl mb-2 pb-1 font-mono font-bold text-primary">3. Datenerfassung auf unserer Website</h2>
            <h6 class="text-lg font-bold mt-1 mb-1">Cookies</h6>
            <p class="pb-2">
              Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert.
            </p>
            <p class="pb-2">
              Die meisten der von uns verwendeten Cookies sind so genannte “Session-Cookies”. Sie werden nach Ende Ihres Besuchs automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert bis Sie diese löschen. Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.
            </p>
            <p class="pb-2">
              Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browser aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein.
            </p>
            <p class="pb-2">
              Cookies, die zur Durchführung des elektronischen Kommunikationsvorgangs oder zur Bereitstellung bestimmter, von Ihnen erwünschter Funktionen (z.B. Warenkorbfunktion) erforderlich sind, werden auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO gespeichert. Der Websitebetreiber hat ein berechtigtes Interesse an der Speicherung von Cookies zur technisch fehlerfreien und optimierten Bereitstellung seiner Dienste. Soweit andere Cookies (z.B. Cookies zur Analyse Ihres Surfverhaltens) gespeichert werden, werden diese in dieser Datenschutzerklärung gesondert behandelt.
            </p>
            <h6 class="text-lg font-bold mt-1 mb-1">Server-Log-Dateien</h6>
            <p class="pb-2">
              Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log-Dateien, die Ihr Browser automatisch an uns übermittelt. Dies sind:
            </p>
            <ul class="mb-4 ps-3">
              <li>Browsertyp und Browserversion</li>
              <li>verwendetes Betriebssystem</li>
              <li>Referrer URL</li>
              <li>Hostname des zugreifenden Rechners</li>
              <li>Uhrzeit der Serveranfrage</li>
              <li>IP-Adresse</li>
              <li>Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.</li>
            </ul>
            <p class="pb-2">Grundlage für die Datenverarbeitung ist Art. 6 Abs. 1 lit. f DSGVO, der die Verarbeitung von Daten zur Erfüllung eines Vertrags oder vorvertraglicher Maßnahmen gestattet.</p>
            <h6 class="text-lg font-bold mt-1 mb-1">Kontaktformular</h6>
            <p class="pb-2">
              Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem Anfrageformular inklusive der von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.
            </p>
            <p class="pb-2">
              Die Verarbeitung der in das Kontaktformular eingegebenen Daten erfolgt somit ausschließlich auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Sie können diese Einwilligung jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an uns. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt.
            </p>
            <p class="mb-0">
              Die von Ihnen im Kontaktformular eingegebenen Daten verbleiben bei uns, bis Sie uns zur Löschung auffordern, Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die Datenspeicherung entfällt (z.B. nach abgeschlossener Bearbeitung Ihrer Anfrage). Zwingende gesetzliche Bestimmungen – insbesondere Aufbewahrungsfristen – bleiben unberührt.
            </p>
          </div>
        </div>


      </div>


    </div>
  </div>
{% endblock %}
