{% set bodyClass = 'home' %}
{% extends 'layouts/main.njk' %}
{% block content %}
  <div class="container">
      {% include "./components/faq.njk" %}

{#    <div class="tailwind-accordion-container accordion-container">#}
{#      <div class="tailwind-ac group border border-gray-300">#}
{#        <h2 class="flex">#}
{#          <button#}
{#              class="tailwind-trigger relative m-0 flex h-10 grow items-center bg-white px-2 py-0 font-bold text-gray-900 transition-colors focus:text-gray-500"#}
{#          >#}
{#            First element#}
{#            <span class="ml-auto group-[.tailwind-active]:rotate-180"#}
{#            ><svg#}
{#                  xmlns="http://www.w3.org/2000/svg"#}
{#                  width="16"#}
{#                  height="16"#}
{#                  fill="currentColor"#}
{#                  viewBox="0 0 16 16"#}
{#              >#}
{#                            <path#}
{#                                fill-rule="evenodd"#}
{#                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"#}
{#                            /></svg#}
{#              ></span>#}
{#          </button>#}
{#        </h2>#}
{#        <div class="tailwind-panel transition-accordion ease overflow-hidden motion-reduce:transition-none">#}


{#          <div class="tailwind-accordion-nested-container accordion-container">#}
{#            <div class="tailwind-ac group border border-gray-300">#}
{#              <h2 class="flex">#}
{#                <button#}
{#                    class="tailwind-trigger relative m-0 flex h-10 grow items-center bg-white px-2 py-0 font-bold text-gray-900 transition-colors focus:text-gray-500"#}
{#                >#}
{#                  First element#}
{#                  <span class="ml-auto group-[.tailwind-active]:rotate-180"#}
{#                  ><svg#}
{#                        xmlns="http://www.w3.org/2000/svg"#}
{#                        width="16"#}
{#                        height="16"#}
{#                        fill="currentColor"#}
{#                        viewBox="0 0 16 16"#}
{#                    >#}
{#                            <path#}
{#                                fill-rule="evenodd"#}
{#                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"#}
{#                            /></svg#}
{#                    ></span>#}
{#                </button>#}
{#              </h2>#}
{#              <div class="tailwind-panel transition-accordion ease overflow-hidden motion-reduce:transition-none">#}
{#                <p class="p-2 text-sm leading-6 text-gray-900">#}
{#                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptatem beatae laudantium#}
{#                  placeat quae deserunt, sed maiores impedit.#}
{#                </p>#}
{#              </div>#}
{#            </div>#}
{#            <div class="tailwind-ac group mt-2 border border-gray-300">#}
{#              <h2 class="flex">#}
{#                <button#}
{#                    class="tailwind-trigger relative m-0 flex h-10 grow items-center bg-white px-2 py-0 font-bold text-gray-900 transition-colors focus:text-gray-500"#}
{#                >#}
{#                  Second element#}
{#                  <span class="ml-auto group-[.tailwind-active]:rotate-180"#}
{#                  ><svg#}
{#                        xmlns="http://www.w3.org/2000/svg"#}
{#                        width="16"#}
{#                        height="16"#}
{#                        fill="currentColor"#}
{#                        viewBox="0 0 16 16"#}
{#                    >#}
{#                            <path#}
{#                                fill-rule="evenodd"#}
{#                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"#}
{#                            /></svg#}
{#                    ></span>#}
{#                </button>#}
{#              </h2>#}
{#              <div class="tailwind-panel transition-accordion ease overflow-hidden motion-reduce:transition-none">#}
{#                <p class="p-2 text-sm leading-6 text-gray-900">#}
{#                  Quisque iaculis nunc mauris. Phasellus ullamcorper pulvinar lorem sed scelerisque. Quisque#}
{#                  cursus viverra risus et iaculis. Suspendisse hendrerit mi et enim vulputate, vel interdum lacus#}
{#                  pulvinar. Aliquam sit amet nulla ac eros scelerisque porta ut vel nisi.#}
{#                </p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}


{#        </div>#}
{#      </div>#}
{#      <div class="tailwind-ac group mt-2 border border-gray-300">#}
{#        <h2 class="flex">#}
{#          <button#}
{#              class="tailwind-trigger relative m-0 flex h-10 grow items-center bg-white px-2 py-0 font-bold text-gray-900 transition-colors focus:text-gray-500"#}
{#          >#}
{#            Second element#}
{#            <span class="ml-auto group-[.tailwind-active]:rotate-180"#}
{#            ><svg#}
{#                  xmlns="http://www.w3.org/2000/svg"#}
{#                  width="16"#}
{#                  height="16"#}
{#                  fill="currentColor"#}
{#                  viewBox="0 0 16 16"#}
{#              >#}
{#                            <path#}
{#                                fill-rule="evenodd"#}
{#                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"#}
{#                            /></svg#}
{#              ></span>#}
{#          </button>#}
{#        </h2>#}
{#        <div class="tailwind-panel transition-accordion ease overflow-hidden motion-reduce:transition-none">#}
{#          <p class="p-2 text-sm leading-6 text-gray-900">#}
{#            Quisque iaculis nunc mauris. Phasellus ullamcorper pulvinar lorem sed scelerisque. Quisque#}
{#            cursus viverra risus et iaculis. Suspendisse hendrerit mi et enim vulputate, vel interdum lacus#}
{#            pulvinar. Aliquam sit amet nulla ac eros scelerisque porta ut vel nisi.#}
{#          </p>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
  </div>
{% endblock %}
