{% set bodyClass = 'home' %}
{% extends 'layouts/main.njk' %}
{% block content %}
  <div class="">
    <div class="h-screen"></div>
    <div class="relative">
      {% include "./components/get-in-touch.njk" %}
    </div>
      <div class="h-screen"></div>
  </div>
{% endblock %}
