<section
  class="bg-[#F9F9FA] bg-[url('/img/bg/faq-bg-mobile.svg')] bg-[length:100%_auto] bg-no-repeat pb-8 pt-[5rem] lg:bg-[url('/img/bg/faq.svg')] lg:bg-[0%_50%]"
>
  <div class="container max-w-[600px] flex lg:max-w-[800px] flex-col items-center">
    <div class="mb-14">
      {{ section.header('Questions&nbsp;& answers', "Frequently asked questions", "lg:mb-4") }}

      <p class="text-center text-[#343434]">
        If the question you are looking for is not listed below, feel free to ask our
        <a href="#" class="font-bold text-primary underline">service team</a>.
      </p>
    </div>

    <!-- FAQ -->
    <div class="js-accordion flex w-full flex-col gap-4 lg:pb-14">
      <!-- Accordion -->
      {%
        for item in [

          {
            title: "General",
            child: [
              {
                title: "Who can use Pay-D?",
                text: "We currently support major Credit and Debit Cards (such as Visa, MasterCard, American Express), Digital Wallets (including PayPal, Apple Pay, Google Pay)"
              },
              {
                title: "How can I use/get Pay-D?",
                text: "We currently support major Credit and Debit Cards (such as Visa, MasterCard, American Express), Digital Wallets (including PayPal, Apple Pay, Google Pay)"
              },
              {
                title: "How can I get in touch with Pay-D?",
                text: "We currently support major Credit and Debit Cards (such as Visa, MasterCard, American Express), Digital Wallets (including PayPal, Apple Pay, Google Pay)"
              },
              {
                title: "What kind of payments can I accept with Pay-D?",
                text: "We currently support major Credit and Debit Cards (such as Visa, MasterCard, American Express), Digital Wallets (including PayPal, Apple Pay, Google Pay)"
              }
            ]
          },
          {
            title: "Pricing",
            child: [
              {
                title: "Who can use Pay-D?",
                text: "We currently support major Credit and Debit Cards (such as Visa, MasterCard, American Express), Digital Wallets (including PayPal, Apple Pay, Google Pay)"
              },
              {
                title: "How can I use/get Pay-D?",
                text: "We currently support major Credit and Debit Cards (such as Visa, MasterCard, American Express), Digital Wallets (including PayPal, Apple Pay, Google Pay)"
              },
              {
                title: "How can I get in touch with Pay-D?",
                text: "We currently support major Credit and Debit Cards (such as Visa, MasterCard, American Express), Digital Wallets (including PayPal, Apple Pay, Google Pay)"
              },
              {
                title: "What kind of payments can I accept with Pay-D?",
                text: "We currently support major Credit and Debit Cards (such as Visa, MasterCard, American Express), Digital Wallets (including PayPal, Apple Pay, Google Pay)"
              }
            ]
          },
          {
            title: "Additional",
            child: [
              {
                title: "Who can use Pay-D?",
                text: "We currently support major Credit and Debit Cards (such as Visa, MasterCard, American Express), Digital Wallets (including PayPal, Apple Pay, Google Pay)"
              }
            ]
          },
          {
            title: "Integration",
            child: [
              {
                title: "Who can use Pay-D?",
                text: "We currently support major Credit and Debit Cards (such as Visa, MasterCard, American Express), Digital Wallets (including PayPal, Apple Pay, Google Pay)"
              }
            ]
          },
          {
            title: "Merchant Onboarding",
            child: [
              {
                title: "Who can use Pay-D?",
                text: "We currently support major Credit and Debit Cards (such as Visa, MasterCard, American Express), Digital Wallets (including PayPal, Apple Pay, Google Pay)"
              }
            ]
          },
          {
            title: "Data Processing",
            child: [
              {
                title: "Who can use Pay-D?",
                text: "We currently support major Credit and Debit Cards (such as Visa, MasterCard, American Express), Digital Wallets (including PayPal, Apple Pay, Google Pay)"
              }
            ]
          },
          {
            title: "Currency Acceptance",
            child: [
              {
                title: "Who can use Pay-D?",
                text: "We currently support major Credit and Debit Cards (such as Visa, MasterCard, American Express), Digital Wallets (including PayPal, Apple Pay, Google Pay)"
              }
            ]
          },
          {
            title: "Use Cases",
            child: [
              {
                title: "Who can use Pay-D?",
                text: "We currently support major Credit and Debit Cards (such as Visa, MasterCard, American Express), Digital Wallets (including PayPal, Apple Pay, Google Pay)"
              }
            ]
          },
          {
            title: "Global Reach",
            child: [
              {
                title: "Who can use Pay-D?",
                text: "We currently support major Credit and Debit Cards (such as Visa, MasterCard, American Express), Digital Wallets (including PayPal, Apple Pay, Google Pay)"
              }
            ]
          }

        ]
      %}
        {% set loopIndex = loop.index %}
        <div
          class="border-color rounded-xl border bg-white px-6 py-4 shadow-[0px_0px_9px_0px_rgba(0,0,0,0.10)]"
          id="heading-{{ loopIndex }}"
        >
          <button
            class="group inline-flex w-full items-center justify-between gap-x-3 rounded-lg text-start font-mono text-lg font-bold text-primary transition aria-expanded:text-primary lg:text-xl"
            aria-expanded="{% if loop.first %}true{% else %}false{% endif %}"
            aria-controls="collapse-{{ loopIndex }}"
          >
            {{ item.title }}
            <span
              class="custom-gradient-primary flex size-8 items-center justify-center rounded-lg group-hover:rotate-180"
            >
              <svg class="flex-none" width="12" height="12" xmlns="http://www.w3.org/2000/svg">
                <use class="group-[&[aria-expanded=true]]:hidden" xlink:href="#icon-plus"></use>
                <use class="group-[&[aria-expanded=false]]:hidden" xlink:href="#icon-minus"></use>
              </svg>
            </span>
          </button>
          <div
            id="collapse-{{ loopIndex }}"
            class="js-accordion accordion-content {% if loop.first %}active{% else %}{% endif %}"
            role="region"
            aria-labelledby="heading-{{ loopIndex }}"
          >
            {% for child in item.child %}
              <div class="border-b py-4" id="heading-loopIndex-{{ loop.index }}">
                <button
                  class="group inline-flex w-full items-center justify-between gap-x-3 rounded-lg text-start transition aria-expanded:text-primary [&[aria-expanded=true]]:text-primary"
                  aria-expanded="{% if loop.first %}true{% else %}false{% endif %}"
                  aria-controls="collapse-loopIndex-{{ loop.index }}"
                >
                  {{ child.title }}
                  <svg
                    class="flex-none group-[&[aria-expanded=true]]:rotate-180"
                    width="12"
                    height="12"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <use xlink:href="#icon-{% if loop.first %}arr-bottom{% else %}arr-bottom{% endif %}"></use>
                  </svg>
                </button>
                <div
                  id="collapse-loopIndex-{{ loop.index }}"
                  class="{% if loop.first %}active{% else %}{% endif %} accordion-content text-sm"
                  role="region"
                  aria-labelledby="heading-loopIndex-{{ loop.index }}"
                >
                  <div class="mt-3 rounded-xl bg-[#f8f8f8] p-4">{{ child.text }}</div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      <!-- End Accordion -->
    </div>
    <!-- End FAQ -->
  </div>
</section>
