<section style="background: #F9F9FA url('/img/bg/features.svg') 100% 0 / 100% auto no-repeat" class="pb-20 pt-[5rem]">
  <div class="container">
    <div class="mx-auto max-w-[600px] lg:max-w-[1060px]">
      {{ section.header('How you can use <br />our features', "Products", "lg:mb-20") }}
      {% include "./features-plans.njk" %}
    </div>
  </div>
</section>
