<section
  class="bg-[#F9F9FA] bg-[url('/img/bg/features.svg')] bg-[length:100%_auto] bg-[100%_0] bg-no-repeat pb-20 pt-[5rem]"
>
  <div class="container">
    <div class="mx-auto lg:max-w-[1060px]">
      {{ section.header('How you can use <br />our features', "Products", "lg:mb-20") }}
      {% include "./features-plans.njk" %}
    </div>
  </div>
</section>
