<footer class="bg-[#50525E] bg-[url('/img/bg/footer-bg-mobile.svg')] lg:bg-[url('/img/bg/footer-bg.svg')] bg-[length:100%_auto] lg:bg-cover text-white bg-no-repeat">
  <div class="container py-10 max-lg:px-14">
    <div class="flex flex-col gap-6 pb-2 lg:flex-row lg:items-center lg:gap-24">
      <a href="#">
        <svg width="164" height="50" xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="#icon-pay-d-logo"></use>
        </svg>
      </a>
      <div
        class="flex flex-1 flex-col gap-4 max-lg:mb-6 border-b border-gray-500 py-6 lg:py-3 lg:flex-row lg:gap-x-16 [&_a]:font-mono [&_a]:font-bold"
      >
        <a href="#">Get started</a>
        <a href="#">Imprint</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Contact</a>
      </div>
    </div>
    <div class="font-mono text-sm lg:text-right">Copyright 2024 by Pay-D</div>
  </div>
</footer>
