<div class="max-md:overflow-hidden max-lg:pt-32 pb-14">
  <div class="container">
    <div
        class="text-white relative items-center before:rounded-2xl p-7 flex gap-2 sm:gap-10 justify-between lg:p-10 before before:inset-0 before:bg-[url('/img/bg/decor2_2.svg')] before:bg-cover"
    >
      <!--   Item   -->
      <div class="relative max-w-[600px]">
        <div class="mb-6">
          <h2 class="h4 mb-4 font-bold text-white text-pretty">
            Get started with Pay-D.
          </h2>
          <p class="max-sm:leading-tight">
            Reach out to us to find out which other features and solutions we offer to support your payment needs!
          </p>
        </div>
        <!--  -->
        <a href="#" class="btn bg-secondary pr-3 flex-none text-nowrap hover:outline outline-2">
          Contact us
          <svg class="icon ml-8 flex-none fill-white" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#icon-arr"></use>
          </svg>
        </a>
      </div>
      <!--   Item   -->
      <div
          class="relative h-0 flex items-center justify-center mr-[-90px] sm:mr-[-20px] md:mr-[40px]"
      >
        <img class="animation-float -mt-32 sm:mt-16 flex-none min-w-40 sm:min-w-52" width="220" src="/img/iPhone13_2.png" alt="img" />
      </div>
    </div>
  </div>
</div>
