<section
  class="max-xs:overflow-hidden bg-[length:100%_auto] bg-no-repeat lg:bg-[url('/img/bg/how-it-works.svg')] bg-[0_100%]"
>
  <div class="flex max-w-[66rem] mx-auto flex-col items-center pb-[3.13rem] pt-16">
    <div class="container">
      {{ section.header('We enable your business <span class="font-normal">to&nbsp;receive online payments</span>', "How PAY-D Works", "mb-16") }}
    </div>
    <div class="container max-lg:bg-[url('/img/bg/how-it-works-mobile.svg')] bg-[length:100%_auto] bg-no-repeat bg-[0_100px]">
      <div class="flex flex-col flex-wrap justify-center max-lg:items-center lg:flex-row">
        <!--  Item    -->
        <div class="relative pt-6 max-lg:mb-10 lg:mt-36">
          <svg
              class="absolute -top-10 left-1/2 hidden text-primary lg:block"
              width="172"
              height="48"
              xmlns="http://www.w3.org/2000/svg"
          >
            <use xlink:href="#icon-mockups-dash-line-1"></use>
          </svg>
          <div
              class="mockup-circle size-[176px] bg-[linear-gradient(328deg,_#C0C0C0_4.53%,_#515879_98.06%)]"
          >
            <svg width="36" height="46" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="#icon-user"></use>
            </svg>
            <div>
              Your <br />
              Customer
            </div>
          </div>
          <div class="relative mx-auto w-[13px]">
            <div class="absolute left-6 top-1.5 text-xs font-bold uppercase text-[#5D5D5D] lg:hidden">Buys product</div>
            <svg class="text-primary lg:hidden" width="13" height="48" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="#icon-arrow-dotted-bottom"></use>
            </svg>
          </div>
        </div>
        <!--  Item    -->
        <div
            class="before:custom-gradient-primary before flex-none text-center before:-top-8 before:left-1/2 before:-z-10 max-xs:before:size-[300px] before:size-[340px] before:-translate-x-1/2 before:rounded-full lg:mx-40"
        >
          <div class="mb-4 text-xs font-bold tracking-widest text-white">
            YOUR <br />
            ONLINE STORE
          </div>
          <img class="mb-4" width="196" height="373" src="/img/mockups/mockup.png" alt="How Pay-D works" />
          <div
              class="relative mx-auto flex size-[90px] items-center rounded-full border border-secondary bg-white px-4 text-center"
          >
            <div class="absolute left-full ml-4 top-6 text-xs font-bold uppercase text-[#5D5D5D] lg:hidden">Revenue</div>
            <svg
                class="absolute bottom-1/2 right-full -mb-2 mr-1 hidden text-secondary lg:block"
                width="164"
                height="167"
                xmlns="http://www.w3.org/2000/svg"
            >
              <use xlink:href="#icon-mockups-dash-line-2"></use>
            </svg>
{#            <svg#}
{#                class="absolute bottom-1/2 right-full -mb-2 mr-1 text-secondary lg:hidden"#}
{#                width="133"#}
{#                height="167"#}
{#                xmlns="http://www.w3.org/2000/svg"#}
{#            >#}
{#              <use xlink:href="#icon-mockups-dash-line-2-mobile"></use>#}
{#            </svg>#}
            <svg
                class="absolute bottom-1/2 right-full -mb-2 mr-1 text-secondary lg:hidden"
                width="122"
                height="167"
                xmlns="http://www.w3.org/2000/svg"
            >
              <use xlink:href="#icon-mockups-l"></use>
            </svg>
            <svg
                class="absolute bottom-1/2 left-full ml-1 hidden text-secondary lg:block"
                width="301"
                height="383"
                xmlns="http://www.w3.org/2000/svg"
            >
              <use xlink:href="#icon-mockups-dash-line-3"></use>
            </svg>
            <svg class="flex-none" width="60" height="38" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="#icon-logo-mark"></use>
            </svg>
            <svg
                class="absolute left-full top-1/2 ml-2 text-secondary lg:hidden"
                width="121"
                height="641"
                xmlns="http://www.w3.org/2000/svg"
            >
              <use xlink:href="#icon-mockups-l3"></use>
            </svg>
          </div>
        </div>
        <!--  Item    -->
        <div class="relative order-2 mt-10 lg:mt-40">
          <div
              class="mockup-circle size-[170px] lg:size-[176px] bg-[linear-gradient(291deg,_#3C3_-18.14%,_#309F52_93.59%)]"
          >
            <svg width="50" height="46" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="#icon-university"></use>
            </svg>
            <div>
              Your <br />
              Business
            </div>
          </div>
        </div>
        <!-- Item -->
        <div class="order-1 w-full lg:order-2">{% include "./payment-processing.njk" %}</div>
      </div>
    </div>
    <!--    -->
  </div>
</section>
