<section class="bg-[#f9f9fa] bg-[url('/img/bg/how-to-start-mobile.svg')] md:bg-[url('/img/bg/how-to-start-bg.svg')] bg-no-repeat bg-[length:100%_auto] pb-28 lg:pb-20 pt-20">
  <div class="container relative z-10" data-aos="fade-up" data-aos-duration="800">
    {{ section.header('How to start with Pay-D', "Start", "mb-14 lg:mb-10 max-w-[30rem]") }}

    <div class="mx-auto flex max-w-[67rem] max-md:flex-col max-md:items-center max-md:gap-4 justify-between gap-4 lg:gap-0">
      {%
        for item in [
        {
        title: "Finding a solution",
        text: 'Let\'s discuss your individual  requirements to understand your goals. If possible, please complete the following <span class="underline">questionnaire</span> and email it to us directly.'
        },
        {
        title: "Integration & onboarding",
        text: 'Integrate our payment page and APIs seamlessly into your system. Complete <a class="underline text-primary" href="#">merchant onboarding</a> to start receiving payments.'
        },
        {
        title: "Receive payments",
        text: "Begin accepting payments easily and securely online, offering your customers a seamless experience. "
        }
        ]
      %}
        <div
            data-aos="fade-up" data-aos-duration="800" data-aos-delay="{{ loop.index }}00"
          class="first:max-md:mb-4 {% if loop.first %}custom-gradient-primary text-white{% else %}text-neutral-700{% endif %} border-color relative flex flex-initial max-md:w-[308px] md:basis-[290px] flex-col rounded-2xl border bg-white px-7 pb-7 pt-7 shadow-[0_0_12px_0_rgba(0,0,0,0.10)]"
        >
          <div class="mb-6 flex justify-between">
            <img height="40" class="h-[40px] flex-none" src="/img/features/{{ loop.index + 4 }}.png" alt="icon" />
            <span class="{% if loop.first %}text-white{% else %}text-primary{% endif %} font-mono text-4xl opacity-40"
              >{{ loop.index }}</span
            >
          </div>
          <div
            class="{% if loop.first %}text-white{% else %}text-primary{% endif %} mb-4 font-mono text-lg font-bold leading-tight"
          >
            {{ item.title }}
          </div>
          <span class="text-sm leading-tight">{{ item.text | safe }}</span>
          {% if loop.first %}
            <div
              class="custom-gradient-secondary absolute bottom-0 left-1/2 z-10 flex size-[40px] -translate-x-2/4 translate-y-2/4 place-items-center rounded-full"
            >
              <svg class="m-auto flex-none fill-white" width="18" height="14" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="#icon-simple-email-r"></use>
              </svg>
            </div>
          {% endif %}
        </div>

        {% if loop.last !== true %}
          <svg class="hidden flex-1 self-center lg:block" width="44" height="14" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#icon-arrow-dotted"></use>
          </svg>
          <svg class="flex-1 self-center md:hidden" width="14" height="44" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#icon-arrow-dotted-bottom"></use>
          </svg>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
