<!-- Mobile menu, show/hide based on menu open state. -->
<div id="mobile-nav" class="absolute hidden lg:hidden" role="dialog" aria-modal="true">
  <!-- Background backdrop, show/hide based on slide-over state. -->
  <div class="fixed inset-0 z-50" onclick="document.getElementById('mobile-nav').classList.toggle('hidden');"></div>
  <div
    class="fixed right-0 top-20 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
  >
    <div class="mt-6 flow-root">
      <div class="-my-6 divide-y divide-gray-500/10">
        <div class="space-y-2 py-6">
          <ul>
            {% for item in ["Our Features", "About us", "Contact"] %}
              <li class="uppercase">
                <a
                  class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  href="#"
                  {% if item === "Contact" %}
                    data-modal-toggle="modal-contact"
                  {% endif %}
                  >{{ item | safe }}</a
                >
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
