<div
  class="mx-auto -mt-6 max-w-[20rem] rounded-2xl bg-gray-200 bg-[url('/img/bg/card-wrapper.jpg')] bg-cover px-6 pb-6 pt-8 md:max-w-[45rem]"
>
  <div class="mb-6 text-center">
    <h3 class="h3 mx-auto mb-2 font-mono text-xl font-bold max-lg:max-w-[14rem]">Online payment enablement</h3>
    <p>Payment processing</p>
  </div>
  <div class="flex flex-col gap-2 md:flex-row lg:gap-4">
    {%
      for item in [
        {
          title: "Transaction initiation",
          text: "Customer initiates transaction, Pay-D collects, forwards data and secures payment authorisation."
        },
        {
          title: "Fund transfer",
          text: "Authorized funds move from customer bank to your bank."
        },
        {
          title: "Confirmation",
          text: "Parties receive a payment confirmation."
        }
      ]
    %}
      <div class="relative flex flex-1 flex-col gap-1 rounded-xl bg-white p-4">
        <span class="absolute right-2 top-2 text-3xl font-bold text-neutral-200">{{ loop.index }}</span>
        <div class="font-bold">{{ item.title }}</div>
        <span class="text-sm text-neutral-700 max-lg:-mt-1">{{ item.text }}</span>
      </div>
    {% endfor %}
  </div>
</div>
