<div class="overflow-hidden absolute size-full top-0 left-0 pointer-events-none -z-10">
  <video
      class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 size-full"
      autoplay=""
      muted=""
      loop=""
      style="object-fit: cover; opacity: .27;"
  >
    <source type="video/mp4" src="/video/video-bg.m4v" />
  </video>
  <div class="absolute inset-x-0 bottom-0 h-[40%]" style="background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 71.2%);"></div>
</div>