{% macro buttonSection(title, className) %}
  <span class="btn btn-sm cursor-auto border-2 border-primary text-primary uppercase mb-3 lg:mb-4 max-lg:py-[0.2rem] {{ className }}"> {{ title | safe }} </span>
{% endmacro %}
