{% macro popover(options) %}
  {% if options.position == "left" %}
    {% set arrPosClassName = "left-0 top-1/2 -translate-x-3" %}
    {% set className = "text-left" %}
    {% elseif options.position == "bottom" %}
    {% set arrPosClassName = "left-1/2 top-full -translate-x-3" %}
    {% set className = "text-left" %}
  {% endif %}
  <div
    class="lg:custom-gradient-primary {{ options.className }} {{ className }} absolute rounded-xl bg-primary p-4 text-lg font-bold text-white max-lg:leading-6 lg:text-xl"
  >
    {{ options.title | safe }}
    <svg
      class="{{ options.arrClassName }} {{ arrPosClassName }} absolute"
      width="30"
      height="14"
      xmlns="http://www.w3.org/2000/svg"
    >
      <use xlink:href="#icon-corner"></use>
    </svg>
  </div>
{% endmacro %}
