@tailwind base
@tailwind components
@tailwind utilities

@layer base
  body
    font-family: "Space Grotesk", sans-serif
    font-optical-sizing: auto
    font-weight: 400
    font-style: normal
  h1, h2, h3, h4, h5, h6
    @apply text-primary
  h1
    @apply text-[5rem] leading-[5rem]
  h2
    @apply text-[4.125rem] leading-[4.125rem]
  h3
    @apply text-[3.25rem] leading-[3.25rem]

@layer components
  .btn
    @apply transition ease-in-out inline-flex items-center rounded-full px-5 py-[0.6rem] text-center font-bold font-mono
  .btn-primary
    @apply text-white hover:bg-green-800 text-xl
    background: linear-gradient(291deg, #3C3 -18.14%, #309F52 93.59%)
    &:hover
      background: linear-gradient(291deg, #309F52 -18.14%, #3C3 93.59%)
  .btn-secondary
    @apply border-2 border-primary text-primary
  .btn-sm
    @apply py-[0.3rem] px-4 text-base
  .btn-xs
    @apply py-[0.1rem] px-3 text-base border
  .mockup-circle
    @apply flex gap-4 text-xs uppercase font-bold tracking-widest flex-col items-center justify-center rounded-full text-center text-white
  .accordion-content
    @apply overflow-hidden transition-[height] duration-300 [&:not(.active)]:h-0
  .border-color
    border-color: rgba(39, 61, 166, 0.20)


@layer utilities
  .custom-gradient-primary
    background: linear-gradient(328deg, #0D2285 4.53%, #2B47CA 98.06%)
  .custom-gradient-secondary
    background: linear-gradient(292deg, #33CC33 6.81%, #309F52 92.38%)
  .before
    @apply relative before:absolute before:block before:content-[''] before:-z-10
  .before-center
    @apply before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2
