@tailwind base
@tailwind components
@tailwind utilities

@layer base
  body
    font-family: "Space Mono", monospace, serif
    font-optical-sizing: auto
    font-weight: 400
    font-style: normal
  h1, h2, h3, h4, h5, h6
    @apply text-primary
  h1
    @apply text-6xl
  h2
    @apply text-5xl
  h3
    @apply text-4xl

@layer components
  .btn
    @apply transition ease-in-out inline-flex items-center rounded-full px-5 py-2.5 text-center font-bold
  .btn-primary
    @apply text-white hover:bg-green-800
    background: linear-gradient(291deg, #3C3 -18.14%, #309F52 93.59%)
    &:hover
      background: linear-gradient(291deg, #309F52 -18.14%, #3C3 93.59%)
  .btn-secondary
    @apply border-2 border-primary text-primary
  .btn-sm
    @apply px-5 py-1.5

  .features-table-row
    //& > *
    //  @apply rounded-tr-lg
    //&>*:last-child
    //  background: #EDEEF4
    //&>*:not(:first-child) > *
    //  @apply relative -top-4



@layer utilities
  .gradient-primary
    background: var(--blue-gradient, linear-gradient(328deg, #0D2285 4.53%, #2B47CA 98.06%))
  .gradient-secondary
    background: var(--gradient-green, linear-gradient(292deg, #3C3 6.81%, #309F52 92.38%))

.icon
  background-size: contain
  background-repeat: no-repeat

.link
  color: #28599f
  &:hover
    text-decoration: underline
